.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

@media screen and (width: 375px){
    .products-container{
        grid-template-columns: 1fr;
    }
    footer{
        grid-template-columns: 1fr;
    }
    .shop-container{
        grid-template-columns: 1fr;
    }
}